doctype html
html
   head
        title Hello Student
   body
        table(border=2)
            thead 
                th Name 
                th Email 
                th Phone
                th City
                th Technology
                th Company
            each val in allstud
                tr
                    td #{val.name}
                    td #{val.email}
                    td #{val.phone}
                    td #{val.city}
                    td #{val.tech}
                    td #{val.comp}